doctype
html(lang='ru')
	head
		meta(charset='utf-8')
		title WELBEX - Зарабатывайте больше
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Montserrat:wght@300;400&display=swap' rel="stylesheet")
		link(rel="stylesheet", href="./bootstrap-grid.min.css")
		link(rel="stylesheet", href="./style.css")
	body
		#wrapper
			nav.mobile-header
				ul.nav-links
					li
						a(href="/") Услуги
					li
						a(href="/") Виджеты
					li
						a(href="/") Интеграции
					li
						a(href="/") Кейсы
			.main-header
				.container
					.row
						.col-lg-2.logo
							a(href="/")
								img(src="./img/logo_welbex.svg", alt="WELBEX")
							.logo__subtitle крупный интегратор CRM в&nbsp;Росcии и&nbsp;ещё&nbsp;8&nbsp;странах
						.col-xl-6.col-lg-7.nav-block
							nav
								ul.nav-links
									li
										a(href="/") Услуги
									li
										a(href="/") Виджеты
									li
										a(href="/") Интеграции
									li
										a(href="/") Кейсы
									li
										a(href="/") Сертификаты
						.col-xl-4.col-lg-3.nav-block
							div
								a(href="tel:+75555555555") +7&nbsp;555&nbsp;555-55-55
							div
								ul.nav-links
									li
										a(href="")
											img(src="./img/telegram.svg", alt="Telegram")
									li
										a(href="")
											img(src="./img/viber.svg", alt="Viber")
									li
										a(href="")
											img(src="./img/whatsapp.svg", alt="Whatsapp")

			.main-content
				.container
					main.row.d-flex.justify-content-between
						.col-lg-4
							h1
								div Зарабатывайте больше
								div
									strong с&nbsp;WELBEX
							p.hero-subtile Развиваем и&nbsp;контролируем продажи за&nbsp;вас
						aside.col-lg-4.hero-aside
							header.hero-aside__title
								span Вместе с&nbsp;
								span.upper бесплатной <br>консультацией 
								span мы&nbsp;дарим:
							.hero-list.desktop-only
								.hero-item
									.hero-item__title Виджеты
									.hero-item__text 30&nbsp;готовых решений
								.hero-item
									.hero-item__title Dashboard
									.hero-item__text с&nbsp;показателями вашего бизнеса
								.hero-item
									.hero-item__title Skype Аудит
									.hero-item__text отдела продаж и&nbsp;CRM системы
								.hero-item
									.hero-item__title 35&nbsp;дней
									.hero-item__text использования CRM

							.hero-list.mobile-only
								.hero-item
									.hero-item__title Skype аудит
								.hero-item
									.hero-item__title 30 виджетов
								.hero-item
									.hero-item__title Dashboard
								.hero-item
									.hero-item__title Месяц AMOCRM
							
					.row.justify-content-end.hero-actions
						.col-xxl-3.col-xl-3.col-lg-4.d-flex.justify-content-end
							a.btn.btn-action(href="") Получить консультацию

			.main-footer
				.container
					.row
						nav.col-xxl-3.col-lg-2.list
							.list-title О&nbsp;компании
							ul.list-items
								li
									a(href="") Партнёрская программа
								li
									a(href="") Вакансии
						nav.col-xxl-5.col-lg-6.list
							.list-title Меню
							.list-block
								ul.list-items
									li
										a(href="") Расчёт стоимости
									li
										a(href="") Услуги
									li
										a(href="") Виджеты
									li
										a(href="") Интеграции
									li
										a(href="") Наши клиенты
								ul.list-items
									li
										a(href="") Кейсы
									li
										a(href="") Благодарственные письма
									li
										a(href="") Сертификаты
									li
										a(href="") Блог на&nbsp;Youtube
									li
										a(href="") Вопрос / Ответ

						.col-lg-4.list
							.list-title Контакты
							.list-extra
								div
									a(href="tel:+75555555555") +7&nbsp;555&nbsp;555-55-55
								div
									ul.nav-links
										li
											a(href="")
												img(src="./img/telegram.svg", alt="Telegram")
										li
											a(href="")
												img(src="./img/viber.svg", alt="Viber")
										li
											a(href="")
												img(src="./img/whatsapp.svg", alt="Whatsapp")
								address Москва, Путевой проезд 3с1, к&nbsp;902

					.legal
						div ©WELBEX 2022. Все права защищены.
						div
							a(href="") Политика конфиденциальности